<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
</head>
<body>
<form method="POST" class="post-form" action="/update/{{students.id}}">
        {% csrf_token %}
    <div class="container">
<br>
    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <h3>Update Details</h3>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Student Name:</label>
    <div class="col-sm-4">
        <input type="text" name="f_name" id="f_name" required maxlength="100" value="{{ students.f_name }}" />
    </div>
  </div>
     <div class="form-group row">
    <label class="col-sm-2 col-form-label">last Name:</label>
    <div class="col-sm-4">
        <input type="text" name="l_name" id="l_name" required maxlength="100" value="{{ students.l_name }}" />
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label"> Email:</label>
    <div class="col-sm-4">
        <input type="email" name="email" id="email" required maxlength="254" value="{{ students.email }}" />
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <button type="submit" class="btn btn-success">Update</button>
    </div>
  </div>
    </div>
</form>
</body>
</html>
